<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="RollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>Log/Log.log</file> <!-- Main log file -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>archived/Log_%d{yyyy-MM-dd}.log</fileNamePattern> <!-- Archive pattern -->
            <maxHistory>7</maxHistory> <!-- Keep log files for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingAppender"/>
    </root>

</configuration>
